<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Loging in</title>
</head>

<body>
    <div>
        <form action="/" method="POST" class="form">

            <label for="name"><b>Name</b></label>
            <input type="text" placeholder="Name" name="name" id="name" required>

            <label for="email"><b>E-mail</b></label>
            <input type="email" placeholder="E-mail" name="email" id="email">

            <label for="message"><b>Message</b></label>
            <input type="message" placeholder="Message" name="message" id="message" required>

            <button type="submit">Submit</button>
        </form>
        <div id="message-view">
            <h2>Messages:</h2>
                <% for( let i = 0; i < comments.length; i++ ) { %>
                <h3> <%- comments[i].name %> wrote: </h3>
                <h5> <%- comments[i].message %> </h5>
                <h6> <%- comments[i].date %> </h6>
                <span>---------------------------------</span>
                <% } %>
        </div>
    </div>
</body>


</html>